.div-login-top {
  display: flex;
  align-items: center;
  margin: 40px 0 95px 135px;
  column-gap: 24px;
}
.div-login-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e0e0e0;
  width: auto;
  /* height: 495px; */
  padding: 45px 50px 45px;
  border-radius: 32px;
}
.form-login {
  display: flex;
  flex-direction: column;
}
.div-login-main > span {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 36px;
}
.form-login > input,
.form-login > div > input {
  border-radius: 8px;
  color: #5a5a5a;
  font-weight: 400;
  font-size: 18px;
  padding: 8px 24px;
  border: 1px solid #e0e0e0;
  outline: none;
  margin-bottom: 20px;
}
.form-login > div {
  display: flex;
  column-gap: 30px;
}
.btnDark {
  background: #1e1e2d;
  border-radius: 12px;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  padding: 8px 24px;
  border: 1px solid #e0e0e0;
  outline: none;
  margin-bottom: 13px;
  cursor: pointer;
}
.textLogin {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  opacity: 0.5;
  margin-bottom: 60px;
  margin-top: 60px;
  text-transform: lowercase;
}
.btnLight {
  background-color: #ffffff;
  border-radius: 12px;
  color: #1e1e2d;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  padding: 8px 24px;
  border: 1px solid #1e1e2d;
  outline: none;
  cursor: pointer;
}
.textsignup {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: black;
  text-align: center;
}
.textsignup > a {
  color: #0fa958;
  text-decoration: none;
  padding-left: 5px;
}
.form-login > label {
  display: flex;
  align-items: center;
  column-gap: 7px;
  margin-bottom: 24px;
}

.div-login-main > div {
  display: flex;
  column-gap: 30px;
  margin-bottom: 50px;
}
.div-login-main > div > label {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  padding: 25px;
  border: 1px solid #a5a5a5;
  border-radius: 12px;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
}
.div-login-main > div > label > input {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  outline: none;
  transition: all 0.2s ease-in-out;
}
.div-login-main > div > label > input[type="radio"]:checked {
  border-color: #a5a5a5;
  background-color: #1e1e2d;
}
